<!DOCTYPE html>
<html>
<head>
<title>This is Home Page</title>
</head>
<body>

<h1>This is a Home Page</h1>
<h4 style="background-color: aquamarine;">Welcome to E-service page.</h4>

</body>
</html>